.card{
    padding: 2vh 0;
    height: max-content;
    width: 16vw;
    background-color: #888;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
    text-transform: capitalize;
}

img{
    height: 20vh;
    width: 70%;
    background-color: rgb(186, 186, 186);
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
}

button{
    font-family: gilroy;
    padding: 1.5vh;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 5px;
}