nav{
    height: 10vh;
    width: 100%;
    background-color: #777;
    color: #232323;
    display: flex;    
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}

nav h1{
    font-size: 5vh;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #232323;
    font-size: 3vh;
}

nav ul li a:hover{
    border-bottom: 2px solid #232323;
}