*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100vh;
  width: 100%;
  background-color: #232323;
  color: white;
  font-family: gilroy;
}

.banner {
  height: 60vh;
  width: 80%;
  background-color: rgb(24, 53, 53);
  margin: 0 auto;
}